<!-- example for "_resources/case-study_prices.png" -->

{% for offer in offers %}
    <div class="offer">
        <header class="offer__header">
            <h1 class="offer__title icon icon_plus">{{ offer.title }}</h1>
        </header>
        <main class="offer__body">
            <div class="offer__pricing">
                <p class="offer__price">{{ offer.price }}<small>/month</small></p>
                <hr class="offer__break">
                <p class="offer__price_alt">{{ offer.price_alt }}/month with new mobile</p>
            </div>
            <div class="offer__features">
                {% for feature in offers.features %}
                    <h2 class="offer__features-title">
                        {{ feature.title }}
                        {% if feature.tooltip %}
                            <span class="tooltip tooltip_offer js-tooltip">
                                {{ feature.tooltip }}
                            </span>
                        {% endif %}
                    </h2>
                    <p class="offer__features-desc">{{ feature.description }}</p>
                {% endfor %}
            </div>
        </main>
        <footer class="offer__footer">
            <a href="{{ offer.button.get_absolute_url }}" class="offer__button">
                {{ offer.button.label }}
            </a>
        </footer>
    </div>
{% endfor %}
