<!-- example for "_resources/case-study_cards.png" -->

{% for card in cards %}
    <section class="card
        {% if card.style.dark %} card_inverse{% endif %}"
        {% if card.background %}
            style="background-image:url({{ card.background }});"
        {% endif %}
    >
        <h1 class="card__title">{{ card.title }}</h1>
        <p class="card__desc">{{ card.desc }}</p>

        {% if card.style.product %}
            <ul class="card__list">
                {% for item in card.list %}
                    <li class="card__list-item">{{ item}}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p class="card__price">{{ card.price }}</p>
        <a href="{{ card.button.get_absolute_url }}" class="card__button">
            {{ card.button.label }}
        </a>
    </section>
{% endfor %}
