/* some basic resets, not relevant for the course
   do not change this file */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Helvetica Now", "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
