/*  ############################################################################
    Exercises 3
    ###########
    Create a more reusable CSS structure using SASS without changing the HTML:

    <h1>This is my website</h1>
    <div class="content">
        <section class="content-special">
            <h1>Hello Special</h1>
        </section>
        <section class="content-dark">
            <h1>Hello Dark</h1>
            <div class="facebook">
                <h1>Hello Facebook</h1>
            </div>
        </section>
    </div>
    <aside class="sidebar">
        <div class="facebook">
            <h1>Hello Facebook</h1>
        </div>
    </aside>
*/

/* create defaults */

h1 {
    color: black;
}

/* but different for */

.content-special h1,
.content-dark h1 {
    color: white;
    font-size: 12px !important;
    font-style: italic;
}

/* let’s create default for facebook */

.facebook h1 {
    color: blue !important;
    font-size: 12px !important;
}

/* but make it smaller on the sidebar */

.content .facebook h1 {
    font-size: 14px !important;
}
