<footer class="footer">
  <h2 hidden>Footer</h2>
  <div class="footer-grid footer-grid-alpha">
    <h3>Quick Links</h3>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="footer-grid">
    <h3>Announcements / Promoted Content</h3>
    <p>
      Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis
      gravida magna mi a libero. Suspendisse enim turpis, dictum sed, iaculis a,
      condimentum nec, nisi. Praesent egestas tristique nibh. Vestibulum
      suscipit nulla quis orci. Nunc nonummy metus.
    </p>
  </div>
  <div class="footer-grid footer-grid-omega">
    <h3>Coming Soon</h3>
    <img src="https://dummyimage.com/150x60/ffffff/999999.jpg" alt="" />
  </div>
</footer>
