// block
.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

// block
// TODO: create separate component
.meta {
  flex: 1 100%;
  text-align: right;
  padding: 8px 5px;
  background: #ccc;
}
.meta__item {
  display: inline;
  margin-left: 20px;
}

// split the meta-form into its own block and
// TODO create separate component
.form--inline {
  display: inline;
}

// block
// TODO create separate component
.logo {
  flex: 1 auto;
}

// block
// TODO create separate component
.header__nav {
  flex: 1 auto;
  display: flex;

  .nav__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}
