<section>
  <h2>Products</h2>
  <ul class="products">
    <li class="product">
      <img src="https://dummyimage.com/300x300/cccccc/999999.jpg" alt="" />
      <h3 class="product-title"><a href="#">Item Title</a></h3>
      <p>Item Category</p>
      <p>$88.00</p>
    </li>
    <li class="product">
      <img src="https://dummyimage.com/300x300/cccccc/999999.jpg" alt="" />
      <h3 class="product-title"><a href="#">Item Title</a></h3>
      <p>Item Category</p>
      <p>$88.00</p>
    </li>
    <li class="product">
      <img src="https://dummyimage.com/300x300/cccccc/999999.jpg" alt="" />
      <h3 class="product-title"><a href="#">Item Title</a></h3>
      <p>Item Category</p>
      <p>$88.00</p>
    </li>
    <li class="product">
      <img src="https://dummyimage.com/300x300/cccccc/999999.jpg" alt="" />
      <h3 class="product-title"><a href="#">Item Title</a></h3>
      <p>Item Category</p>
      <p>$88.00</p>
    </li>
  </ul>
</section>
